doctype html
html(lang='en')
  head
    title Receptár drinkov
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='/stylesheets/freelancer.min.css', rel='stylesheet')
    // Temporary navbar container fix
    style.
      .navbar-toggler {
      z-index: 1;
      }
      @media (max-width: 576px) {
      nav > .container {
      width: 100%;
      }
      }
  body#page-top.index
    // Navigation
    nav#mainNav.navbar-toggleable-md.navbar-light
      button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarExample', aria-controls='navbarExample', aria-expanded='false', aria-label='Toggle navigation')
        | Menu 
        i.fa.fa-bars
      .container
        a.navbar-brand(href='/') Receptár
        #navbarExample.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href='/new') Pridaj recept
            li.nav-item
              a.nav-link(href='/') Recepty
            li.nav-item
              a.nav-link(href='/ingredients') Ingrediencie  
            li.nav-item
              a.nav-link(href='#register') Register
            li.nav-item
              a.nav-link(href='#login') Login
    !=messages()
    
    block content        
    // Footer
    footer.text-center
      Copyright © Your Website 2017
    // Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.hidden-lg-up
      a.btn.btn-primary.page-scroll(href='#page-top')
        i.fa.fa-chevron-up

    // Bootstrap core JavaScript
    //script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/tether.min.js')
    script(src='/javascripts/bootstrap.min.js')
    // Plugin JavaScript
    script(src='/javascripts/jquery.easing.min.js')
    // Custom scripts for this template
    script(src='/javascripts/freelancer.min.js')
    script(src='/javascripts/delete.js')

